@charset "UTF-8";
/* CSS Document */

/* Responsive SVG */

/*.svg-container
{
	width: 100%;
    height: 0;
    padding-top: 48%;
    position: relative;
	padding-bottom:100px;
}

.svg-content
{
    position: absolute;
    top: 0;
    left: 0;
}

.svg-type-container
{
	width: 100%;
    height: 0;
    padding-top: 48%;
    position: relative;
	padding-bottom:100px;
}

.svg-type-content
{
	border-radius: 10px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}

.svg-type-content:hover
{
	border: 3px solid #337ab7;
	box-sizing:content-box;
	-moz-box-sizing:content-box;

	cursor:pointer;
	border-radius: 10px;
}*/

.info-box {
	position: fixed;
	right: 1em;
}

.info-box__button-list {
	padding: 0;

	text-align: right;
	list-style: none;
}

.info-box__button {
	min-width: 8em;
}

.worldmap {
	max-width: 80%;
	margin-left: 10%;

	border: 1px solid #84c47b;
	border-radius: 5px;

	cursor: pointer;
}

.worldmap_dragging {
	cursor: all-scroll;
}

.worldmap__country {
	fill: #c0e2ba;
	fill-opacity: 1;
	stroke: white;
	stroke-opacity: 1;
	stroke-width: 0.5;
}

.worldmap__country_has-data {
	fill: #84c47b;
}

.worldmap__country_has-data:active, .worldmap__country_has-data-selected {
	fill: #29AAE2;
}

.worldmap-buttons {
	display: block;
	width: 32px;
	height: 62px;

	background-color: #fff;
	border: 1px solid #84c47b;
}

.worldmap-buttons__seperator {
	height: 1px;
	margin: 0;

	border: none;
	background-color: #84c47b;
}

.worldmap-buttons__button {
	position: relative;
	height: 30px;
	width: 30px;

	color: #84c47b;
	font-size: large;
	font-weight: bold;

	cursor: pointer;
}

.worldmap-buttons__button span {
	position: absolute;
	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%);
}
