@charset "UTF-8";

/*Colors
Green:	#84c47b
Orange:	#f89c1c
Blue:	#29aae2
Red:	#de1b23*/

.info-box {
	display:none;
	position: fixed;
	top: 1em;
	right: 1em;
}

.info-box__button-list {
	padding: 0;

	text-align: right;
	list-style: none;
}

.info-box__button {
	min-width: 8em;
}

.worldmap {
	max-width: 80%;
	margin-left: 10%;

	border: 1px solid #84c47b;
	border-radius: 5px;
	/*border-radius: 50%;*/

	cursor: pointer;
}

.worldmap_dragging {
	cursor: all-scroll;
}

.worldmap__country {
	fill: #c0e2ba;
	fill-opacity: 1;
	stroke: white;
	stroke-opacity: 1;
	stroke-width: 0.5;
}

.worldmap__country_has-data {
	fill: #84c47b;
}

.worldmap__country_has-data:active, .worldmap__country_has-data-selected {
	fill: #f89c1c;
}

/*.worldmap-buttons {
	display: block;
	width: 32px;
	height: 62px;

	background-color: #fff;
	border: 1px solid #84c47b;
}

.worldmap-buttons__seperator {
	height: 1px;
	margin: 0;

	border: none;
	background-color: #84c47b;
}

.worldmap-buttons__button {
	position: relative;
	height: 30px;
	width: 30px;

	cursor: pointer;
}

.worldmap-buttons__button_in::after,
.worldmap-buttons__button_out::after {
	position: absolute;
	top: 50%;
	left: 50%;

	color: #84c47b;
	font-size: 30px;
	font-weight: 900;

	transform: translate(-50%, -50%);
}
.worldmap-buttons__button_in::after {
	content: '+';
}
.worldmap-buttons__button_out::after {
	content: '-';
}*/
