@charset "UTF-8";

/*Colors
Green:	#84c47b
Orange:	#f89c1c
Blue:	#29aae2
Red:	#de1b23*/

.worldmap {
	position: relative;
	max-width: 80%;
	transform: translateX(5%);

	border: 1px solid #84c47b;
	border-radius: 5px;
	/*border-radius: 50%;*/
	cursor: pointer;
}

.worldmap_dragging {
	cursor: all-scroll;
}

.worldmap__buttongroup {
	position: absolute;
	transform: translate(12%, 8%);

	overflow: visible;
}

.worldmap__button {}

.worldmap__map {}

.worldmap__country {
	fill: #c0e2ba;
	fill-opacity: 1;
	stroke: white;
	stroke-opacity: 1;
	stroke-width: 0.5;

	transition: fill 300ms;
}

.worldmap__country_has-data {
	fill: #84c47b;
}

.worldmap__country_has-data:active, .worldmap__country_has-data-selected {
	fill: #f89c1c;
}
